.header {
    position: relative;
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), 
    url(./img/3278904.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-position: top;
    background-size: cover;

    .logo img {
        height: 3.5rem;
        margin-top: 3rem;
        margin-left: 3rem;
        animation-name: movefrombottom;
        animation-duration: 1s;
        animation-timing-function: linear;

        @keyframes movefrombottom {
            0% {
                opacity: 0;
                transform: translateY(5rem);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
