.navigation  {

    &__checkbox {
        display: none;
    }
    
    &__background {
        height: 6rem;
        width: 6rem;
        transform: scale(0);
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem; 
        z-index: 50;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__button {
        position: fixed;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        top: 6rem;
        right: 6rem;
        background-color: $color-white;
        z-index: 100;
        text-align: center;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::after,
        &::before {
            width: 3rem;
            height: .2rem;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }  

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::after { top: -.8rem; }
        &::before { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(-135deg);
        top: 0;
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(135deg);
        top: 0;
    }
}